@import url(//db.onlinewebfonts.com/c/4501475bf849e2b936cd620a5e0a273c?family=Telemarketing+Superstar);
@font-face {
  font-family: "Telemarketing Superstar";
  src: url("//db.onlinewebfonts.com/t/4501475bf849e2b936cd620a5e0a273c.eot");
  src: url("//db.onlinewebfonts.com/t/4501475bf849e2b936cd620a5e0a273c.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4501475bf849e2b936cd620a5e0a273c.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/4501475bf849e2b936cd620a5e0a273c.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/4501475bf849e2b936cd620a5e0a273c.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/4501475bf849e2b936cd620a5e0a273c.svg#Telemarketing Superstar")
      format("svg");
}

@import url(//db.onlinewebfonts.com/c/64851cdd33cb1dcd2ccc875b469baae6?family=Alejo+Line);
@font-face {
  font-family: "Alejo Line";
  src: url("//db.onlinewebfonts.com/t/64851cdd33cb1dcd2ccc875b469baae6.eot");
  src: url("//db.onlinewebfonts.com/t/64851cdd33cb1dcd2ccc875b469baae6.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/64851cdd33cb1dcd2ccc875b469baae6.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/64851cdd33cb1dcd2ccc875b469baae6.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/64851cdd33cb1dcd2ccc875b469baae6.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/64851cdd33cb1dcd2ccc875b469baae6.svg#Alejo Line")
      format("svg");
}

@import url(//db.onlinewebfonts.com/c/1e827bdc08837273e16ebba4ce90dfe0?family=Alejo+Solid);
@font-face {
  font-family: "Alejo Solid";
  src: url("//db.onlinewebfonts.com/t/1e827bdc08837273e16ebba4ce90dfe0.eot");
  src: url("//db.onlinewebfonts.com/t/1e827bdc08837273e16ebba4ce90dfe0.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/1e827bdc08837273e16ebba4ce90dfe0.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/1e827bdc08837273e16ebba4ce90dfe0.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/1e827bdc08837273e16ebba4ce90dfe0.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/1e827bdc08837273e16ebba4ce90dfe0.svg#Alejo Solid")
      format("svg");
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.article-card {
  font-size: small;
  font-style: normal;
  /* justify-content: center; */
  /* text-justify: auto; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: black 1px solid;
  width: 60vw;
  margin: auto;
  margin-bottom: 2cm;
  background-color: rgb(195, 206, 189);
}

.comment-card {
  font-size: small;
  font-style: normal;
  /* justify-content: center; */
  /* text-justify: auto; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: black 1px solid;
  width: 60vw;
  margin: auto;
  margin-bottom: 2cm;
  background-color: rgb(195, 206, 189);
}

.comment-button {
  margin-bottom: 0.5cm;
}

.article-content {
  margin: auto;
}

.header {
  width: 50%;
  margin: auto;
  font-family: "Alejo Solid";
  font-size: 48px;
  color: rgb(112, 152, 126);
}

.est {
  font-family: "Alejo Line";
  margin-top: -2cm;
  font-size: 28px;
}

nav {
  margin-top: 1cm;
  margin-bottom: 1cm;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
